.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 25px;
    font-size: 18px;
    line-height: 5px;
}

.navbar-brand>img {
    display: inline-block;
}

.nav-img {
    width: 40px;
    height: 40px;
    margin-right:10px;
}