body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /*overflow-x: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#app {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.responsiveCal {
    position: relative; overflow: hidden;
}
.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #22313F;
    color:#fff;
    border-color: none;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #cccccc;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #cccccc;
    background-color: transparent;
}
.navbar-fixed-bottom {
    position: relative !important;
    bottom:0;
}
.ui-rtsr-selected {
    background-color: #677bc5;
    font-weight: bold;
}
.event-where {
    color:#000;
}
#calendarTitle {
    color: #fff;
    font-family: Arial,sans-serif;
    font-weight: bold;
    padding-left: 2px;
}
.date-top {
    color:#fff;
    font-weight: bold;
    padding-top: 1px;
    padding-left: .3em;
    padding-right: .3em;
    white-space: nowrap;
}
.jumbotron {
    text-align: center;
}
#brand-img {
    width:45px;
    height:45px;
}
.navbar-brand {
    float: left;
    padding: 3px 10px;
    font-size: 18px;
    /* line-height: 21px; */
    height: 50px;
}
.navbar-brand>img {
    display: inline-block;
}
.posts_wrapper {
    margin: 10px 0 0 0;
}
.post_title {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom:#cccccc solid 1px;
}
.page_title {
    border-bottom:2px solid #3a87ad;
    padding-bottom:2px;
}
.event_child_txt {
    font-weight: bold;
}
.modal {
    text-align: center;
    width:100%;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.link-text:hover {
    text-decoration: none;
}
/* Carousel base class */
.carousel,
.carousel-item,
.carousel-item .active {
    height: calc(100vh - 66px);
}
.carousel-item img{
    max-height: 100vh;
}
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.lodge-officer-header {
    text-align:center;
}
.album-img {
    height:250px;
}

.inner-album-img {
    height:200px;
}
.album-images {
    margin:10px 0 10px 0;
}
.payment-input {
    text-align: center;
    margin-top: 5px;
}
.event-wrapper {
    margin: 0 auto;
}
table, th, td {
    text-align:center;
}
caption, th {
    background: #3c8dbc;
    color:#fff;
    height: 30px;
    text-align: center;
}
td {
    border-bottom: 1px #ccc solid;
    padding:5px;
}
td:first-child {
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
td:last-child {
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {
    padding: 10px 20px;
    font-size: 1.5rem;
}

.button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

.button--green:hover {
    background-color: #8bdda8;
    color: white;
}
th {
    text-align: center!important;
}
.mr-auto {
    font-size: 15px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
}
input[type=range]+.thumb.active .value {
    color: #fff;
    margin-left: -1px;
    margin-top: 4px;
    font-size: 16px;
}
#dropin-container {
    margin-bottom:30px;
}
.fc-scroller {
    /*height: 500px !important;*/
}